/*index.html*/
/*Wrapper of everything */
.wrapper { 
    max-width: 1170px; 
}

/*Introduction phrases and design*/
.hi{ 
    font-size: clamp(25pt, 5vw, 40pt) !important; 
    white-space: nowrap; 
}

.com { 
    font-size: clamp(16pt, 3vw, 25pt) !important; 
    color: #44C58D;
}

.hi3 { 
    font-size: clamp(14pt, 2.5vw, 16pt) !important; 
    color:#44C58D;
}

.name { 
    text-decoration: none; 
}

.chris{
    background-color: #C7F9CC !important;
    transition: .3s;
}

.chris:hover{ 
    background-color: #3EA38D !important; 
}

/*Cards*/
.work1 { 
    background-color: #C7F9CC !important;
}

.work2 { 
    background-color: #82D9B3 !important;
}

.work1, .work2, .misc1, .misc2 { 
    border: none !important; 
    justify-content: center; 
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.work1:hover, .misc1:hover, .misc2:hover { 
    transform: scale(1.01); 
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Handle images for home */
.intro { 
    background-image: url(imgs/me.JPG); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-origin: content-box; 
    background-position: center; 
    margin-left: 45%; 
    margin-right: 20%; 
    height: 35vw; 
    min-height: 350px; 
    max-height: 500px; 
    padding-top: 50px; 

}
.text{ 
    right: 85%; 
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 576px){
    .intro { 
        margin-left: 0 !important; 
        background-image: none; 
    }
    h1 { 
        font-size: 250% !important; 
    }
    .com { 
        font-size: 150% !important; 
    }
    .text{
        left: 0; 
    }
}


/*proj1.html*/
/*top image*/
.topImg { 
    margin:0 !important; 
    padding: 5% 20% !important; 
    background: linear-gradient(to right, #85D2FF,#D6F0FF);
}

/*Body*/
.color2 { 
    background-color: #D6F0FF;
}

.finalSketch { 
    max-width: 1000px !important; 
}
.colorText { 
    max-width: 1170px; 
    margin: auto !important; 
}

/*About section */
.about { 
    width: 90%; 
}

.misc1{ 
    background-color: #dfc8fd !important;
}

.misc2 { 
    background-color: #ad77f3 !important; 
}

.abtPic { 
    max-width: 200px; 
}

.abtP mark {
    background-color: #dfc8fd; 
}