/*index.html*/
/*Wrapper of everything */
.wrapper { 
    max-width: 1170px; 
}

/*Introduction phrases and design*/
.hi{ 
    font-size: clamp(25px, 5vw, 50px) !important; 
    white-space: nowrap; 
}

.com { 
    font-size: clamp(10px, 3vw, 30px) !important; 
    color: #B0CB90
}

.hi3 { 
    font-size: clamp(5pt, 13pt, 15pt) !important; 
    color: #B0CB90;
}
.name { 
    text-decoration-color: #70CBFF;
}

mark{
    background-color: #C5ADFF !important;
    transition: .3s;
}

mark:hover{ 
    background-color: #9B70FF !important; 
}

/*Cards*/
.work1 { 
    background-color: #ADE1FF !important;
}

.work2 { 
    background-color: #C5ADFF !important;
}

.work1, .work2 { 
    border: none !important; 
    justify-content: center; 
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.work1:hover { 
    transform: scale(1.01); 
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Handle images for home */
.intro { 
    background-image: url(imgs/me.JPG); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-origin: content-box; 
    background-position: center; 
    margin-left: 45%; 
    margin-right: 20%; 
    height: 35vw; 
    min-height: 350px; 
    max-height: 500px; 
    padding-top: 50px; 

}
.text{ 
    right: 85%; 
    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 576px){
    .intro { 
        margin-left: 0 !important; 
        background-image: none; 
    }
    h1 { 
        font-size: 250% !important; 
    }
    .com { 
        font-size: 150% !important; 
    }
    .text{
        left: 0; 
    }
}


/*proj1.html*/
/*top image*/
.topImg { 
    margin:0 !important; 
    padding: 5% 20% !important; 
    background: linear-gradient(to right, #85D2FF,#D6F0FF);
}

/*Body*/
.color2 { 
    background-color: #D6F0FF;
}

.finalSketch { 
    max-width: 1000px !important; 
}
.colorText { 
    max-width: 1170px; 
    margin: auto !important; 
}
